@font-face {
    font-family: ShadowsIntoLight;
    src: url(../fonts/ShadowsIntoLight.ttf);
}

$white: #ECE6E6;
$lightblue: #29C1E0;
$darkblue: #1B73A2;
$greyblack: #29282e;
$darklight: #1B73A2;
$contentblack: #2a292f;

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'ShadowsIntoLight', Helvetica, sans-serif;